<% layout("/layouts/boilerplate") %>
  
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit Listing</h3>
      <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="listing[title]" value="<%=listing.title%>">
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea rows="10" cols="50" type="text" class="form-control" name="listing[description]" >value="<%=listing.description%>"</textarea>
        </div>
    
        <div class="mb-3">
          <label for="image" class="form-label">Image Url</label>
          <input type="text" class="form-control" name="listing[image]" value="<%=listing.image%>">
        </div>
        
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control">
          </div>
          
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" name="listing[country]" value="<%=listing.country%>">
          </div>
        </div>
        
        
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" class="form-control" value="<%=listing.location%>">
        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
      </form>
    </div>
  </div>


